.customers {
    padding: 80px 0 119px;
}

.customers-title {
    text-transform: uppercase;
    font-family: "Raleway";
    font-weight: normal;
    font-style: normal;
    font-size: 2.25rem;
    text-align: center;
    line-height: 42px;
    color: #212121;
}

.customers-title::after{
    content:"";
    width: 64px;
    height: 1px;
    background-color: #E72424;
    margin: auto;
    margin-bottom: 34px;
    margin-top: 34px;
    display: block;
} 

.customers-description {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 19px;
    color: #86878b;
    text-align: center;
    margin-bottom: 62px;
}

.customers-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 -15px;
}

.customers-item {
    margin: 0 15px;
    width: 298px;
}

.customer-item__text {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #86878B;
    background: #E2E2E2;
    border-radius: 7px;
    padding-top: 9px;
    padding-bottom: 6px;
    padding-left:22px;
    padding-right: 23px;
    position: relative;
    margin-bottom: 22px;
}

.customer-item__text::after {
    content: "";
    display: block;
    position: absolute;
    left: 45px;
    top: 100%;
    width: 0; 
    height: 0; 
    border-left: 15px solid transparent; 
    border-right: 15px solid transparent; 
    border-top: 16px solid #E2E2E2;
   }

.customers-item__person {
    display: flex;
    justify-content: space-around;
    width: 212px;
    margin: auto;
}

.customers-item__img {
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.customers-item__photo {
    width: 100%;
}

.customers-item__position {
    margin-left: 41px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.name {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 1.25rem;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #333333;
    margin-bottom: 12px;
}

.position {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: normal;
    font-size: 0.875rem;
    line-height: 19px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #86878B;
}


@media (max-width: 1024px) {
    .customers {
        padding: 75px 0 114px;
    }
    .customers-wrap {
        justify-content: space-around;
    }
    .customers-wrap .customers-item:last-child {
        margin-top: 30px;
    }
}
@media (max-width: 936px) {
    .customers-title::after{
        margin-bottom: 24px;
        margin-top: 24px;
    }
    .customers-description {
        margin-bottom: 50px;
    }
}

@media (max-width: 728px) {
    .customers-item {
        margin-bottom: 40px;
    }
    .customers-wrap .customers-item:last-child {
        margin-top: 0px;
    }
}

@media (max-width: 680px) {
    .customers-item__person {
        width: 198px;
    }
    .name {
        margin-bottom: 8px;
    }
    .customers-item__position {
        margin-left: 35px;
    }
    
}
@media (max-width: 466px) {
    .customers-title {
        line-height: 38px;
    }
    .customers-title::after{
        width: 54px;
    }
    .customers-description {
        margin-bottom: 45px;
    }
    .customers-item__img {
        width: 60px;
        height: 60px;
    }
    .customers-item__position {
        margin-left: 20px;
    }
    .customer-item__text {
        line-height: 18px;
        padding-top: 7px;
        padding-bottom: 5px;
        padding-left: 17px;
        padding-right: 18px;
        margin-bottom: 18px;
    }
    .customers-item {
        margin-bottom: 32px;
    }
}

@media (max-width: 360px) {   
    .customers {
        padding: 70px 0 109px;
    }
    .customers-title::after{
        margin-bottom: 18px;
        margin-top: 18px;
    }
}