.first-screen {
    padding: 110px 0 101px;
    background: url("../img/bg/first-screen-bg.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
    min-height: 100vh;
}

.first-screen::after {
    content:"";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1;   
}

.first-screen-wrap {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap;
    margin: 0 -15px;
}

.first-screen-info {
    width: 544px;
    margin: 0 15px;
}

.first-screen-logo__item {
    font-family: "Raleway";
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 3.75rem;
    line-height: 70px;
    color: #FFFFFF;
}

.first-screen-logo__item::after {
    content: "it";
    font-family: "Roboto";
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 3.75rem;
    line-height: 70px;
    color: #E72424;
}

.first-screen__title {
    font-family: "Raleway";
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 2.25rem;
    line-height: 42px;
    color: #FFFFFF;
    margin-top: 32px;
}

.first-screen__title::after {
    content:"";
    width: 64px;
    height: 1px;
    background-color: #ffffff;
    margin-bottom: 34px;
    margin-top: 34px;
    display: block;
}

.first-screen__description {
    font-family: Raleway;
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.8);
    width: 282px;
}

.first-screen__link {
    width: 135px;
    border: 1px solid #FFFFFF;
    padding: 11px 26px;
    text-align: center;
    cursor: pointer;
    margin-top: 39px;
    border-radius: 5px;
}

.first-screen-link__item {
    font-family: "Open Sans";
    font-style: normal;
    text-align: center;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    color: #FFFFFF;
    display: block;
}

.first-screen__link:hover {
    background-color: rgba(255, 255, 255, 0.8);
}

.first-screen__link:hover .first-screen-link__item {
    color: rgba(0, 0, 0, 0.55);
}

.first-screen-form {
    margin: 0 15px;
    width: 370px;
    background: #FFFFFF;
    border-radius: 8px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.form-content {
    padding: 20px 59px 74px;
}

.form-content__title {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 27px;
    align-items: center;
    text-align: center;
    color: #333333;
    text-transform: capitalize;
    margin-bottom: 50px;
}

.form-content__title-item {
    font-family: "Open Sans";
    font-weight: 700;
    font-size: 1.25rem;
    line-height: 27px;
    text-transform: uppercase;
    color: #EC7979;
}

.form-item__label {
    display: block;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: 400;
    font-size: 0.875rem;
    line-height: 19px;
    align-items: center;
    color: #BDBDBD;
    text-transform: capitalize;
}

.form-item__input {
    border: none;
    border-bottom: 1px solid #BDBDBD;
    width: 100%;
    outline: none;
    margin-bottom: 19px;
}

.form-content .first-screen-form-content__item:last-child .form-item__input {
    margin-bottom: 0;
}


.form-button {
    width: 100%;
    background: #EC7979;
    padding: 16px 0;
    color: #FFFFFF;
    font-family: Open Sans;
    font-weight: 600;
    font-size: 1rem;
    line-height: 26px;
    text-align: center;
    text-transform: capitalize;
    border: none;
    cursor: pointer;
}

.form-button:hover {
    background-color: #f10e0e;
}

@media (max-width: 1024px) {
    .first-screen {
        padding: 55px 0;
    }
    .first-screen-info {
        width: 514px;
    }
    .first-screen__title {
        margin-top: 28px;
    }
    .first-screen__title::after {
        margin-bottom: 28px;
        margin-top: 28px;
    }
    .first-screen-form {
        width: 350px;
    }
    .form-content {
        padding: 20px 44px 54px;
    }
}

@media (max-width: 840px) {
    .form-content {
        padding: 17px 36px 41px;
    }
    .first-screen-info {
        width: 460px;
    }
    .first-screen__title {
        line-height: 35px;
    }
    .first-screen-form {
        width: 330px;
    }
    .form-button {
        line-height: 20px;
    }
    .first-screen-link__item {
        line-height: 18px;
    }
}

@media (max-width: 680px) {
    .first-screen-wrap {
        flex-wrap: wrap;
    }
    .first-screen-wrap {
        justify-content: space-around;
    }
    .first-screen-info {
        text-align: center;
    }
    .first-screen-form {
        margin-top: 20px;
    }
    .first-screen__description {
        margin: 0 auto;
    }
    .first-screen__title::after {
        margin: 20px auto;
    }
    .first-screen__link {
        margin: 40px auto;
    }
}

@media (max-width: 360px) {   
    .first-screen {
        padding: 30px 0;
    } 
    .first-screen__logo {
        display: none;
    }
    .first-screen__title {
        line-height: 30px;
    }
    .first-screen__description {
        line-height: 16px;
    }
    .first-screen__link {
        width: 90%;
    }
    .first-screen-link__item {
        font-weight: 400;
    }
    .form-content__title {
        line-height: 15px;
    }
}

