.footer {
    padding: 30px 0 15px;
    background-color: #000000;
}

.footer-wpap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;
}

.footer-social-icons-wrap {
    margin: 0 15px;
    width: 100%;
}

.footer-social-icons {
    display: flex;
    justify-content: space-between;
}

.footer-social-con__item-link {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4375rem;
}

.footer-copyright {
    font-family: "Open Sans";
    text-transform: capitalize;
    font-style: normal;
    font-weight: normal;
    font-size: 0.75rem;
    line-height: 16px;
    text-align: center;
    color: rgba(255, 255, 255, 0.5);
    margin: 0 15px;
    margin-top: 18px;
}