.header {
    padding: 20px 0 19px;
    background-color: #000000;
    position: sticky;
    top: 0;
    z-index: 3;
}

.header-menu__burger {
    display: none;
    width: 18px;
    height: 24px;
}

.burger-line {
    border-bottom: 2px solid rgba(255, 255, 255, 0.7);
    margin-bottom: 6px;
}

.header-wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 -15px;
}

.header-logo {
    margin: 0 15px;
    display: flex;
}

.header-logo__item {
    font-family: "Raleway";
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 35px;
    color: #FFFFFF;
}

.header-logo::after {
    content: "it";
    font-family: "Raleway";
    text-transform: uppercase;
    font-style: normal;
    font-weight: normal;
    font-size: 1.8rem;
    line-height: 35px;
    color: #E72424;
}

.header-menu-wrap {
    margin: 0 15px;
    width: 489px;      
}

.header-menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.header-menu__item-link {
    font-family: "Open Sans";
    text-transform: capitalize;
    font-style: normal;
    font-weight: 600;
    font-size: 0.85rem;
    line-height: 20px;
    color: rgba(255, 255, 255, 0.7);
    padding: 3px;
    border-left: 2px solid transparent;
    border-bottom: 2px solid transparent;
}

.header-menu__item-link:hover {
    border-left: 2px solid #E72424;
    border-bottom: 2px solid #E72424;
    transition: 0.2s;
}

@media (max-width: 1024px) {
    .header {
        padding: 15px 0 14px;
    }
    .header-menu-wrap {
        width: 450px;
    }
  }

  @media (max-width: 680px) {
    .header {
        padding: 10px 0 9px;
    }
    .header-logo {
        margin-right: 10px;
    }
    .header-menu-wrap {
        margin-left: 10px;
        width: 370px;
    }
  }
  
  @media (max-width: 360px) {
    .header-menu {
        display: none;
    }
    .header-menu__burger {
        display: block;
    }
    .header-menu-wrap {
        width: auto;
    }
  }

@media (max-width: 320px) {
  .header-menu {
      display: none;
  }
  .header-menu__burger {
      display: block;
  }
  .header-menu-wrap {
      width: auto;
  }
}