@import url("../css/awesome.css");
@import url("../css/import-cdn.css");
@import url("../css/pricing.css");
@import url("../css/customers.css");
@import url("../css/axure.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("../css/header.css");
@import url("../css/social.css");
@import url("../css/footer.css");
@import url("../css/first-screen.css");
@import url("../css/contact.css");

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
.html {
    font-family: 'Raleway', 'Open Sans', 'Roboto', sans-serif;
}