@import "../scss/import-cdn.scss";
@import "../scss/header.scss";
@import "../scss/features.scss";
@import "../scss/team.scss";
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import "../scss/download.scss";
@import "../scss/footer.scss";
@import "../scss/gallery.scss";
@import "../scss/slider.scss";

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    font-family: 'Cardo', 'Open Sans', 'Raleway', serif, sans-serif;

    @media (max-width: 1024px) {
        font-size: 15px;
    }

    @media (max-width: 680px) {
        font-size: 14px;
    }

    @media (max-width: 360px) {
        font-size: 13px;
    }

    @media (max-width: 320px) {
        font-size: 12px;
    }
}

.container {
    max-width: 1170px;
    padding: 0 15px;
    margin: auto;
    z-index: 2;
    position: relative;

    @media (max-width: 1024px) {
        max-width: 90%;
    }
}
